body {
    font-family: 'Roboto';
}

.header {
    position: absolute;
    left: 17px;
    top: 13px;    
    font-size: 48px;
}

.container .rate {
    position: absolute;
    font-size: 120%;
}

.container #star1 {
    position: absolute;
    left: 255px;
    top: 34px;
}

.container #star2 {
    position: absolute;
    left: 275px;
    top: 34px;
}

.container #star3 {
    position: absolute;
    left: 295px;
    top: 34px;
}

.container #star4 {
    position: absolute;
    left: 315px;
    top: 34px;
}

.container #star5 {
    position: absolute;
    left: 335px;
    top: 34px;
}

.checked {
    color: #E9E22F;
}

.review {
    position: absolute;
    width: 345px;
    height: 100px;
    left: 15px;
    top: 70px;
    background: #C4C4C4;
}

.review p {
    font-size: 14px;
}

.upload {
    position: absolute;
    width: 127px;
    height: 32px;
    left: 15px;
    top: 178px;
    background: #C4C4C4;
    text-align: center;
}

.upload p {
    font-size: 14px;
}

.submit {
    position: absolute;
    width: 98px;
    height: 33px;
    left: 262px;
    top: 177px;
    background: #C4C4C4;
    text-align: center;
}

.submit p {
    font-size: 14px;
}

.line {
    position: absolute;
    width: 345px;
    left: 15px;
    top: 240px;    
    background: #C4C4C4;
    border: 1px solid #000000;
}

.result1 {
    position: absolute;
    width: 345px;
    height: 220px;
    left: 15px;
    top: 255px;
    background: #F5F1F1;
    border-radius: 5px;
}

.profile {
    position: absolute;
    width: 45px;    
    height: 45px;
    left: 12px;
    top: 12px;
    background: #C4C4C4;
    border-radius: 50px;
    text-align: center;
}

.profile p {
    font-size: 14px;
}

.user {
    position: absolute;
    left: 75px;
    top: 12px;
    font-size: 14px;
}

.date {
    position: absolute;
    left: 75px;
    top: 30px;
    font-size: 14px;
    opacity: 0.2;
}

.result1 .rate {
    font-size: 80%;
}

.result1 #star1 {
    position: absolute;
    left: 75px;
    top: 50px;
}

.result1 #star2 {
    position: absolute;
    left: 90px;
    top: 50px;
}

.result1 #star3 {
    position: absolute;
    left: 105px;
    top: 50px;
}

.result1 #star4 {
    position: absolute;
    left: 120px;
    top: 50px;
}

.result1 #star5 {
    position: absolute;
    left: 135px;
    top: 50px;
}

.review-user {
    position: absolute;
    left: 75px;
    top: 60px;
    font-size: 14px;
}

.photo1 {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 75px;
    top: 95px;
    background: #C4C4C4;
    text-align: center;
}

.photo2 {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 185px;
    top: 95px;
    background: #C4C4C4;
    text-align: center;
}

.photo1 p {
    font-size: 14px;
}

.photo2 p {
    font-size: 14px;
}

.option1 {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 12px;
    left: 310px;
    background: #C4C4C4;
    border-radius: 50px;
}

.option2 {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 12px;
    left: 320px;
    background: #C4C4C4;
    border-radius: 50px;
}

.option3 {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 12px;
    left: 330px;
    background: #C4C4C4;
    border-radius: 50px;
}

.result2 {
    position: absolute;
    width: 345px;
    height: 220px;
    left: 15px;
    top: 490px;
    background: #F5F1F1;
    border-radius: 5px;
}

.result2 .rate {
    font-size: 80%;
}

.result2 #star1 {
    position: absolute;
    left: 75px;
    top: 50px;
}

.result2 #star2 {
    position: absolute;
    left: 90px;
    top: 50px;
}

.result2 #star3 {
    position: absolute;
    left: 105px;
    top: 50px;
}

.result2 #star4 {
    position: absolute;
    left: 120px;
    top: 50px;
}

.result2 #star5 {
    position: absolute;
    left: 135px;
    top: 50px;
}

.option1 {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 12px;
    left: 310px;
    background: #C4C4C4;
    border-radius: 50px;
}

.option2 {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 12px;
    left: 320px;
    background: #C4C4C4;
    border-radius: 50px;
}

.option3 {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 12px;
    left: 330px;
    background: #C4C4C4;
    border-radius: 50px;
}

.result3 {
    position: absolute;
    width: 345px;
    height: 220px;
    left: 15px;
    top: 725px;
    background: #F5F1F1;
    border-radius: 5px;
}

.result3 .rate {
    font-size: 80%;
}

.result3 #star1 {
    position: absolute;
    left: 75px;
    top: 50px;
}

.result3 #star2 {
    position: absolute;
    left: 90px;
    top: 50px;
}

.result3 #star3 {
    position: absolute;
    left: 105px;
    top: 50px;
}

.result3 #star4 {
    position: absolute;
    left: 120px;
    top: 50px;
}

.result3 #star5 {
    position: absolute;
    left: 135px;
    top: 50px;
}