h1.header {
    position: absolute;
    width: 152px;
    height: 57px;
    left: 17px;
    top: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}

#star1 {
    position: absolute;
    width: 27px;
    height: 24px;
    left: 254px;
    top: 34px;
    background: #E9E22F;
}

#star2 {
    position: absolute;
    width: 27px;
    height: 24px;
    left: 281px;
    top: 34px;
    background: #E9E22F;
}

#star3 {
    position: absolute;
    width: 27px;
    height: 24px;
    left: 308px;
    top: 34px;
    background: #E9E22F;
}

#star4 {
    position: absolute;
    width: 27px;
    height: 24px;
    left: 335px;
    top: 34px;
    background: #E9E22F;
}

#star5 {
    position: absolute;
    width: 27px;
    height: 24px;
    left: 362px;
    top: 34px;
    background: #E9E22F;
}

.review {
    position: absolute;
    width: 377px;
    height: 100px;
    left: 17px;
    top: 70px;
    background: #C4C4C4;
}

p.review {
    position: absolute;
    width: 150px;
    height: 17px;
    left: 47px;
    top: 89px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.upload {
    position: absolute;
    width: 127px;
    height: 32px;
    left: 15px;
    top: 178px;
    background: #C4C4C4;
}

p.upload {
    position: absolute;
    width: 350px;
    height: 58px;
    left: 30px;
    top: 182px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.send {
    position: absolute;
    width: 132px;
    height: 33px;
    left: 262px;
    top: 177px;
    background: #C4C4C4;
}

p.send {
    position: absolute;
    width: 33px;
    height: 17px;
    left: 315px;
    top: 185px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}